<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/{{.LogSearch.BuildQueryString }}" class="nav-link">Группами</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/list{{.LogSearch.BuildQueryString }}" class="nav-link">Списком</a>
        </li>
    </ul>

    <!-- SEARCH FORM -->
    <form id="headerSearchForm" class="form-inline ml-3">
        <div class="input-group input-group-sm">
            <input id="headerSearch" class="form-control form-control-navbar" type="search" placeholder="Поиск..." aria-label="Поиск...">
            <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <!-- Notifications Dropdown Menu -->
        <li class="nav-item dropdown">
            Групп
            <span class="badge bg-lightblue">{{.GroupCount}}</span>
        </li>
        <li class="nav-item dropdown">
            &nbsp;&nbsp;Ошибок
            <span class="badge bg-gray">{{.LogsCount}}</span>
        </li>
    </ul>
</nav>
