<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="/static/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Log</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                {{$LogSearch := .LogSearch}}
                {{range .Projects}}
                <li class="nav-item has-treeview menu-open">
                    <a href="?ProjectId={{.Id}}" class="nav-link {{if eq $LogSearch.ProjectId .Id}}active{{end}}">
                        <i class="nav-icon fas fa-{{.AwesomeIcon}}"></i>
                        <p>
                            {{.Title}}
                        </p>
                    </a>
                </li>
                {{end}}
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>