<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark"></h1>
                </div><!-- /.col -->
                <div class="col-sm-6">

                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content" id="mainContainer">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-7">
                        <h3 class="card-title">Список</h3>
                    </div>
                    <div class="col-5">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                      <i class="far fa-calendar-alt"></i>
                                    </span>
                                </div>
                                <input type="text" class="form-control float-right" id="datefilter">
                                <div class="input-group-append" style="cursor: pointer" id="datefilter-clear">
                                  <span class="input-group-text">
                                    <i class="fas fa-ban"></i>
                                  </span>
                                </div>
                                <span class="input-group-append" id="datefilter-find">
                                    <button type="button" class="btn btn-info btn-flat">Записи за сегодня</button>
                                </span>
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body" id="listContainer">
                <span id="errorsList">
                    {{$logSearch := .LogSearch}}
                    {{if gt .paginator.PageNums 1}}
                        <ul class="pagination pagination-sm">
            {{if .paginator.HasPrev}}
                <li class="page-item"><a class="page-link" href="{{.paginator.PageLinkFirst}}">Первая</a></li>
                <li class="page-item"><a class="page-link" href="{{.paginator.PageLinkPrev}}">&lt;</a></li>
            {{else}}
                <li class="page-item disabled"><a class="page-link">Первая</a></li>
                <li class="page-item disabled"><a class="page-link">&lt;</a></li>
            {{end}}
                            {{range $index, $page := .paginator.Pages}}
                                <li{{if $.paginator.IsActive .}} class="page-item active"{{end}}>
                    <a class="page-link" href="{{$.paginator.PageLink $page}}">{{$page}}</a>
                </li>
                            {{end}}
                            {{if .paginator.HasNext}}
                                <li class="page-item"><a class="page-link" href="{{.paginator.PageLinkNext}}">&gt;</a></li>
                                <li class="page-item"><a class="page-link" href="{{.paginator.PageLinkLast}}">Последняя</a></li>
                            {{else}}
                                <li class="page-item disabled"><a class="page-link">&gt;</a></li>
                                <li class="page-item disabled"><a class="page-link">Последняя</a></li>
                            {{end}}
        </ul>
                    {{end}}
                    {{range .Logs}}
                        <div style="border-left-color: #bd2130; padding: 0" class="callout card collapsed-card">
                            <div class="card-header error-card" data-id="{{.CreatedAt}}" data-count="1" style="padding: 1rem;">
                              <div class="row">
                                <div class="col-9">
                                  <div>{{.DateCreate}}</div>
                                  <h3 class="card-title date-created d-none">{{.DateCreate}}</h3>
                                </div>
                                  <div class="col-3">
                                    <div class="card-tools float-right">
                                      <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-plus"></i>
                                      </button>
                                    </div>
                                  </div>
                              </div>
                              <pre style="padding-bottom: 0">{{.GroupTitle}}</pre>
                            </div>
                            <div class="card-body">
                              <pre>{{.Message}}</pre>
                            </div>
                          </div>
                    {{end}}
                    {{if gt .paginator.PageNums 1}}
                        <ul class="pagination pagination-sm">
            {{if .paginator.HasPrev}}
                <li class="page-item"><a class="page-link" href="{{.paginator.PageLinkFirst}}">Первая</a></li>
                <li class="page-item"><a class="page-link" href="{{.paginator.PageLinkPrev}}">&lt;</a></li>
            {{else}}
                <li class="page-item disabled"><a class="page-link">Первая</a></li>
                <li class="page-item disabled"><a class="page-link">&lt;</a></li>
            {{end}}
                            {{range $index, $page := .paginator.Pages}}
                                <li{{if $.paginator.IsActive .}} class="page-item active"{{end}}>
                    <a class="page-link" href="{{$.paginator.PageLink $page}}">{{$page}}</a>
                </li>
                            {{end}}
                            {{if .paginator.HasNext}}
                                <li class="page-item"><a class="page-link" href="{{.paginator.PageLinkNext}}">&gt;</a></li>
                                <li class="page-item"><a class="page-link" href="{{.paginator.PageLinkLast}}">Последняя</a></li>
                            {{else}}
                                <li class="page-item disabled"><a class="page-link">&gt;</a></li>
                                <li class="page-item disabled"><a class="page-link">Последняя</a></li>
                            {{end}}
        </ul>
                    {{end}}
                </span>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </section>
    <!-- /.content -->
</div>